<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.adobe.flexbuilder.debug.launchConfigurationType.flash">
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_APPLICATION" value="src/Main.as"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_PROJECT" value="CoreUI_PropertyInspector"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_RUN_URL" value="file:/C:/Users/Rob/Documents/GitHub/CoreUI/examples/propertyInspector/bin-debug/Main.swf"/>
<booleanAttribute key="com.adobe.flexbuilder.debug.ATTR_USE_DEFAULT_URLS" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CoreUI_PropertyInspector"/>
<listEntry value="/CoreUI_PropertyInspector/src/Main.as"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
<listEntry value="1"/>
</listAttribute>
</launchConfiguration>
