<xml>
	<applicationID><![CDATA[CoreEditor]]></applicationID>
	
	<fileSystemProvider environment="air"		type="local" 		    id="core.local" 		label="Core"     folderName="CoreEditor" />
	<fileSystemProvider environment="browser" 	type="sharedObject" 	id="core.sharedObject" 	label="Core" />
	<fileSystemProvider environment="browser" 	type="url" 			    id="core.url" 			label="Core_URL" baseURL="files" visible="false" />
	
	<extension url="extensions/Default_Ext.swf" />
	<extension url="extensions/HelloWorldExtension.swf" />
	
	<!--  File templates  -->
<!--
	<template>
		<label><![CDATA[String List]]></label>
		<description><![CDATA[Creates a blank String list file.]]></description>
		<url><![CDATA[extensions/fileTemplates/stringList.strlist]]></url>
		<icon>cadetEditor.assets.CadetEditorIcons_BlankTemplateIcon</icon>
	</template>
	-->
</xml>